body {
	color:white;
background:#006DB0;
	font-family:Verdana;
	width:960px;
	margin:auto;
}


header, main, footer {
	clear:both;
	margin-left:0;
	
}

header, main h1 {
	color:silver;
}

a, a:visited {
	color:yellow;
	text-decoration:none;
}

a:hover {
	color: purple;
	text-decoration: none;
}



#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:113px;
	text-align:center;
	font-size:13px;
	border: 2px dashed black;
	border-radius:18%;
}
p{font-family:Verdana; font-size:20px;text-indent:4em;}